<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <img src="/assets/images/vylogonavbar.png" style="cursor:pointer" (click)='tilbakeTilHjem()' />
    <div class="container">
      <a class="navbar-brand" style="cursor:pointer" (click)='tilbakeTilHjem()'>Vy Kundeservice</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" style="cursor:pointer">
            <a class="nav-link text-dark" (click)='tilbakeTilHjem()'>Hjem</a>
          </li>

          <li class="nav-item" style="cursor:pointer">
            <a class="nav-link text-dark" (click)='tilbakeTilFAQListe()'>FAQ</a>
          </li>

          <li class="nav-item" style="cursor:pointer">
            <a class="nav-link text-dark" (click)='registrerInnsporsmal()'>Send inn spørsmål</a>
          </li>

          <li class="nav-item" style="cursor:pointer">
            <a class="nav-link text-dark" (click)='tilbakeTilInnsporsmal()'>Innsendte spørsmål</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<body>
  <!-- Visning av hjem div -->
  <div class="container" style="text-align:center" *ngIf="visHjem">
    <div style="display: inline-block; text-align: left">
      <h2>Velkommen til Vy kundeservice</h2>
      <p>
        Velkommen til Vy sin kundeservice side. Dersom du lurer på noe, får du mest sannsynlig svar på spørsmålet ditt her.<br />
        Hvis ikke, kan du sende inn spørsmålet du har, så vil vi svare deg i løpet av kort tid!
      </p>

      <button class="btn btn-primary" (click)="tilbakeTilFAQListe()">Gå til FAQ</button>┆
      <button class="btn btn-primary" (click)="registrerInnsporsmal()">Send inn spørsmål</button>┆
      <button class="btn btn-primary" (click)="tilbakeTilInnsporsmal()">Se alle spørsmål</button>┆
      <button class="btn btn-primary" (click)="registrerFAQ()">Gå til registrering av FAQ</button>
    </div>
  </div>

  <!-- Visning av alle innsendte spørsmål div -->
  <div class="container" style="text-align:center" *ngIf="visInnsporsmalListe">
    <div style="display: inline-block; text-align: left">
      <h1>Velkommen til Vy kundeservice</h1>
      <p>Her kan du se tidligere innsendte spørsmål</p>
      <div *ngIf="laster">Laster skjema.....</div>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Navn</th>
            <th>Epostadresse</th>
            <th>Spørsmål</th>
          </tr>
        </thead>
        <tbody *ngFor="let innsporsmal of alleInnsporsmal">
          <tr>
            <td>{{innsporsmal.navn}}</td>
            <td>{{innsporsmal.email}}</td>
            <td>{{innsporsmal.sporsmal}}</td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary" (click)="registrerInnsporsmal()">Gå til innsending av spørsmål</button> ┆
      <button class="btn btn-primary" (click)="tilbakeTilHjem()">Gå til hjem</button> ┆
      <button class="btn btn-primary" (click)="tilbakeTilFAQListe()">Gå til FAQ</button>
    </div>
  </div>

  <!-- Visning av registrering av nytt spørsmål div -->
  <div class="container" style="text-align:center" *ngIf="visInnsporsmal">
    <div style="display: inline-block; text-align: left">
      <h2>Fant du ikke svar på det du lurte på? Send inn et spørsmål da vell!</h2>
      <form [formGroup]="InnsporsmalSkjema" (ngSubmit)="onSubmit()">
        <input class="form-control" formControlName="id" type="hidden" />
        <div class="form-group">
          <label>Navn</label>
          <input class="form-control" formControlName="navn" placeholder="Navn" />
          <p class="alert alert-warning" [hidden]="InnsporsmalSkjema.controls.navn.valid || (InnsporsmalSkjema.controls.navn.pristine && !submitted)">
            Du er nødt til å skrive inn et navn! Eksempel: "Per Persen"
          </p>
        </div>

        <div class="form-group">
          <label>Epost</label>
          <input class="form-control" formControlName="email" placeholder="Epostadresse" />
          <p class="alert alert-warning" [hidden]="InnsporsmalSkjema.controls.email.valid || (InnsporsmalSkjema.controls.email.pristine && !submitted)">
            Du er nødt til å skrive inn en epostadresse! Eksempel: eksempel@gmail.com
          </p>
        </div>
        <div class="form-group">
          <label>Spørsmål</label>
          <textarea class="form-control" formControlName="sporsmal" rows="3" placeholder="Hva lurer du på?"></textarea>
          <p class="alert alert-warning" [hidden]="InnsporsmalSkjema.controls.sporsmal.valid || (InnsporsmalSkjema.controls.sporsmal.pristine && !submitted)">
            Du er nødt til å skrive inn et spørsmål. Et spørsmål må bestå av minst 5 tegn.
          </p>
        </div>
        <div class="form-group">
          <button type="submit" *ngIf="InnsporsmalStatus=='RegistrereSporsmal'" [disabled]="!InnsporsmalSkjema.valid" class="btn btn-success">Send inn spørsmål</button> ┆
          <button class="btn btn-primary" (click)="tilbakeTilInnsporsmal()">Gå til alle innsendte spørsmål</button> ┆
          <button class="btn btn-primary" (click)="tilbakeTilHjem()">Gå til hjem</button> ┆
          <button class="btn btn-primary" (click)="tilbakeTilFAQListe()">Gå til FAQ</button>
        </div>
      </form>
    </div>
  </div>

  <!-- FAQ Trestruktur -->
  <div class="container" *ngIf="visFAQListe">
    <h2>FAQ - Frequently asked questions</h2>
    <p>På denne får du svar på ofte spurte spørsmål. Dersom du ikke får svar på det du lurer på, <br> kan du også sende inn spørsmål til oss ved å henvende deg til "Send inn spørsmål".</p>
    <div *ngIf="laster">Laster FAQs.....</div>
    <div class="accordion" id="kategori">
      <div *ngFor="let kategori of alleFAQ">
        <div id="headingOne">
          <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#kategori-' + kategori.kategoriId" aria-expanded="true">
            <font size="3">{{kategori.kategoriNavn}}</font> <br />
            <img src="/assets/images/subarrow.png" align="left" style="vertical-align:top;" />
          </button> <br />
        </div>

        <div id="kategori-{{kategori.kategoriId}}" class="collapse" data-parent="#kategori" style="vertical-align:top;">
          <div class="card-body" id="faq">
            <div class="card" *ngFor="let sporsmal of kategori.alleFAQList">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#sporsmal-' + sporsmal.id" aria-expanded="true">
                    {{sporsmal.sporsmal}} <br />
                    <img src="/assets/images/subarrow.png" align="left" style="vertical-align:top;" />
                  </button>
                </h2>
              </div>

              <div id="sporsmal-{{sporsmal.id}}" class="collapse" data-parent="#faq">
                <div class="card-body">
                  {{sporsmal.svar}} <br /><br />

                  Var dette et godt svar på det du lurte på? <br />
                  <img src="/assets/images/thumbs-up.png" (click)="upvoteUpdate(sporsmal.id)" /> {{sporsmal.upvote}}
                  <br />
                  <img src="/assets/images/thumb-down.png" (click)="downvoteUpdate(sporsmal.id)" /> {{sporsmal.downvote}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <button class="btn btn-primary" (click)="tilbakeTilHjem()">Gå til hjem</button> ┆
    <button class="btn btn-primary" (click)="tilbakeTilInnsporsmal()">Gå til alle innsendte spørsmål</button> ┆
    <button class="btn btn-primary" (click)="tilbakeTilFAQListe()">Gå til innsending av spørsmål</button>
  </div>
</body>




